<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Album{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        {# <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> #}
        {# <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/"> #}
        <link rel='stylesheet' href='{{ asset('assets/css/style.css') }}' crossorigin="anonymous"> <!-- Custom styles for this template -->
        {# <link rel='stylesheet' href='{{ asset('assets/css/bootstrap.min.css') }}'> <!-- Custom styles for this template --> #}
		{# <link rel="stylesheet" href="{{ asset('assets/css/sticky-footer-navbar.css') }}"> #}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig'%}
        {% block body %}{% endblock %}
            
        {% include 'layout/footer.html.twig'%}
    </body>
</html>
